# .github/workflows/issue-on-push.yml
on: [push, workflow_dispatch]
name: Create an issue on push
jobs:
  env:
      TZ: "America/New_York"
  build:
    runs-on: ubuntu-latest
    steps:
      - name: error
        run: exit 1
  issue:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: build
    if: failure() || cancelled()
    steps:
      - uses: actions/checkout@v3
      - name: Open Issue
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh issue create \
            --assignee jdblischak \
            --body "* Commit [${GITHUB_SHA:0:7}]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/commit/$GITHUB_SHA)\n* Build [$GITHUB_RUN_ID]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID)" \
            --label "nightly" \
            --title "Nightly build failed on $(date '+%A (%Y-%m-%d)')"
